<%- include('./partial/header&sidebar.ejs') %>

    <main class="main close my-3">
        <div class="rule pt-3 mb-4">
            <a class="fw-bold">CARS<i class='bx bx-chevron-right'></i></a>
            <a class="fw-bold" href="/admin/datacar">List Car</a><i class='bx bx-chevron-right'></i>
            <a>Update Car Information</a>
        </div>
        <h4 class="fw-bold my-3">Update Car Information</h4>
        <form action="/admin/datacar/updatedata/<%=items.id %>" method="post" enctype="multipart/form-data">
            <div class="container-fluid create-form mt-4 py-2" style="background-color: #ffff;">
                <div class="row my-3">
                    <div class="col-2">
                        <label for="">Nama<span>*</span></label>
                    </div>
                    <div class="col-4">
                        <input type="text" name="name" class="form-control" placeholder="Nama" value="<%=items.name %>"
                            required>
                    </div>
                </div>
                <div class="row my-3">
                    <div class="col-2">
                        <label for="">Sewa Per Hari<span>*</span></label>
                    </div>
                    <div class="col-4">
                        <input type="text" name="price" class="form-control" placeholder="Rp 0,-"
                            value="<%=items.price %>" required>
                    </div>
                </div>
                <div class="row my-3">
                    <div class="col-2">
                        <label for="">Ukuran<span>*</span></label>
                    </div>
                    <div class="col-4">
                        <select class="form-select" name="type">
                            <option value="Small" <%=items.type==="Small" && 'selected' %>>Small
                            <option value="Medium" <%=items.type==="Medium" && 'selected' %>>Medium
                            <option value="Large" <%=items.type==="Large" && 'selected' %>>Large
                        </select>
                    </div>
                </div>
                <div class="row my-3">
                    <div class="col-2">
                        <label for="">Foto<span>*</span></label>
                    </div>
                    <div class="col-xl-4 col-lg-5 col-md-6 col-sm-7">
                        <input name="image" value="<%=items.image %>" type="file" class="form-control"
                            placeholder="https://" required>
                        <p>File size max 2MB</p>
                    </div>
                </div>

            </div>
            <div class="row mt-5 pt-5">
                <a href="/admin/datacar" type="submit" class="btn btn-white btn-small fw-bold mx-2">Cancel</a>
                <button type="submit" class="btn btn-blue btn-small fw-bold mx-2">Save</button>
            </div>
        </form>
    </main>
    </body>
    <script src="/js/navbar.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>

    </html>